{
  "openapi": "3.1.0",
  "info": {
    "title": "Notion API",
    "version": "2.0.0",
    "description": "Notion API 2025-09-03 - Data Source Edition. Breaking change: Database endpoints replaced with data source endpoints.",
    "license": {
      "name": "MIT",
      "url": "https://github.com/makenotion/notion-sdk-js/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://api.notion.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "parameters": {
      "notionVersion": {
        "name": "Notion-Version",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "default": "2025-09-03"
        },
        "description": "The Notion API version"
      }
    },
    "schemas": {
      "annotationsRequest": {
        "type": "object",
        "description": "Styling information for rich text",
        "properties": {
          "bold": {
            "type": "boolean",
            "default": false,
            "description": "Whether the text is bolded"
          },
          "italic": {
            "type": "boolean",
            "default": false,
            "description": "Whether the text is italicized"
          },
          "strikethrough": {
            "type": "boolean",
            "default": false,
            "description": "Whether the text has strikethrough"
          },
          "underline": {
            "type": "boolean",
            "default": false,
            "description": "Whether the text is underlined"
          },
          "code": {
            "type": "boolean",
            "default": false,
            "description": "Whether the text is code style"
          },
          "color": {
            "type": "string",
            "enum": [
              "default",
              "gray",
              "brown",
              "orange",
              "yellow",
              "green",
              "blue",
              "purple",
              "pink",
              "red",
              "gray_background",
              "brown_background",
              "orange_background",
              "yellow_background",
              "green_background",
              "blue_background",
              "purple_background",
              "pink_background",
              "red_background"
            ],
            "default": "default",
            "description": "Color of the text"
          }
        }
      },
      "richTextRequest": {
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "object",
            "required": [
              "content"
            ],
            "properties": {
              "content": {
                "type": "string",
                "description": "The text content. Maximum 2000 characters."
              },
              "link": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "The URL the text links to"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          },
          "type": {
            "enum": [
              "text"
            ],
            "type": "string"
          },
          "annotations": {
            "$ref": "#/components/schemas/annotationsRequest",
            "description": "Styling information for the text"
          }
        }
      },
      "pageIdParentRequest": {
        "type": "object",
        "properties": {
          "page_id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "page_id"
        ]
      },
      "dataSourceIdParentRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "database_id"
          },
          "database_id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "database_id"
        ]
      },
      "parentRequest": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/pageIdParentRequest"
          },
          {
            "$ref": "#/components/schemas/dataSourceIdParentRequest"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "const": "workspace"
              }
            },
            "required": [
              "type"
            ]
          }
        ]
      },
      "movePageParentRequest": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "const": "page_id"
              },
              "page_id": {
                "type": "string",
                "format": "uuid"
              }
            },
            "required": [
              "type",
              "page_id"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "const": "database_id"
              },
              "database_id": {
                "type": "string",
                "format": "uuid"
              }
            },
            "required": [
              "type",
              "database_id"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "const": "workspace"
              }
            },
            "required": [
              "type"
            ]
          }
        ]
      },
      "sortObject": {
        "type": "object",
        "required": [
          "property",
          "direction"
        ],
        "properties": {
          "property": {
            "type": "string"
          },
          "direction": {
            "enum": [
              "ascending",
              "descending"
            ],
            "type": "string"
          }
        }
      },
      "titlePropertyValue": {
        "type": "object",
        "description": "Title property value for database pages",
        "properties": {
          "title": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/richTextRequest"
            },
            "maxItems": 100
          }
        },
        "required": ["title"]
      },
      "richTextPropertyValue": {
        "type": "object",
        "description": "Rich text property value for database pages",
        "properties": {
          "rich_text": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/richTextRequest"
            },
            "maxItems": 100
          }
        },
        "required": ["rich_text"]
      },
      "numberPropertyValue": {
        "type": "object",
        "description": "Number property value for database pages",
        "properties": {
          "number": {
            "type": ["number", "null"]
          }
        },
        "required": ["number"]
      },
      "selectPropertyValue": {
        "type": "object",
        "description": "Select property value for database pages",
        "properties": {
          "select": {
            "type": ["object", "null"],
            "properties": {
              "id": {
                "type": "string",
                "description": "ID of the select option"
              },
              "name": {
                "type": "string",
                "description": "Name of the select option (can be used instead of id)"
              },
              "color": {
                "type": "string",
                "enum": ["default", "gray", "brown", "orange", "yellow", "green", "blue", "purple", "pink", "red"]
              }
            }
          }
        },
        "required": ["select"]
      },
      "multiSelectPropertyValue": {
        "type": "object",
        "description": "Multi-select property value for database pages",
        "properties": {
          "multi_select": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "ID of the select option"
                },
                "name": {
                  "type": "string",
                  "description": "Name of the select option (can be used instead of id)"
                },
                "color": {
                  "type": "string",
                  "enum": ["default", "gray", "brown", "orange", "yellow", "green", "blue", "purple", "pink", "red"]
                }
              }
            }
          }
        },
        "required": ["multi_select"]
      },
      "statusPropertyValue": {
        "type": "object",
        "description": "Status property value for database pages",
        "properties": {
          "status": {
            "type": ["object", "null"],
            "properties": {
              "id": {
                "type": "string",
                "description": "ID of the status option"
              },
              "name": {
                "type": "string",
                "description": "Name of the status option (can be used instead of id)"
              },
              "color": {
                "type": "string",
                "enum": ["default", "gray", "brown", "orange", "yellow", "green", "blue", "purple", "pink", "red"]
              }
            }
          }
        },
        "required": ["status"]
      },
      "datePropertyValue": {
        "type": "object",
        "description": "Date property value for database pages",
        "properties": {
          "date": {
            "type": ["object", "null"],
            "properties": {
              "start": {
                "type": "string",
                "description": "Start date in ISO 8601 format (YYYY-MM-DD or YYYY-MM-DDTHH:MM:SS.sssZ)"
              },
              "end": {
                "type": ["string", "null"],
                "description": "End date in ISO 8601 format (optional, for date ranges)"
              },
              "time_zone": {
                "type": ["string", "null"],
                "description": "Time zone in IANA format (e.g., 'America/New_York')"
              }
            },
            "required": ["start"]
          }
        },
        "required": ["date"]
      },
      "peoplePropertyValue": {
        "type": "object",
        "description": "People property value for database pages",
        "properties": {
          "people": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid",
                  "description": "User ID"
                }
              },
              "required": ["id"]
            }
          }
        },
        "required": ["people"]
      },
      "checkboxPropertyValue": {
        "type": "object",
        "description": "Checkbox property value for database pages",
        "properties": {
          "checkbox": {
            "type": "boolean"
          }
        },
        "required": ["checkbox"]
      },
      "urlPropertyValue": {
        "type": "object",
        "description": "URL property value for database pages",
        "properties": {
          "url": {
            "type": ["string", "null"]
          }
        },
        "required": ["url"]
      },
      "emailPropertyValue": {
        "type": "object",
        "description": "Email property value for database pages",
        "properties": {
          "email": {
            "type": ["string", "null"]
          }
        },
        "required": ["email"]
      },
      "phonePropertyValue": {
        "type": "object",
        "description": "Phone number property value for database pages",
        "properties": {
          "phone_number": {
            "type": ["string", "null"]
          }
        },
        "required": ["phone_number"]
      },
      "relationPropertyValue": {
        "type": "object",
        "description": "Relation property value for database pages",
        "properties": {
          "relation": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid",
                  "description": "ID of the related page"
                }
              },
              "required": ["id"]
            }
          }
        },
        "required": ["relation"]
      },
      "filesPropertyValue": {
        "type": "object",
        "description": "Files property value for database pages",
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name of the file"
                },
                "type": {
                  "type": "string",
                  "enum": ["external"],
                  "description": "File type (external for URL-based files)"
                },
                "external": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "URL of the external file"
                    }
                  },
                  "required": ["url"]
                }
              },
              "required": ["name", "type", "external"]
            }
          }
        },
        "required": ["files"]
      },
      "paragraphBlockRequest": {
        "type": "object",
        "properties": {
          "paragraph": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100
              },
              "color": {
                "type": "string",
                "enum": ["default", "gray", "brown", "orange", "yellow", "green", "blue", "purple", "pink", "red", "gray_background", "brown_background", "orange_background", "yellow_background", "green_background", "blue_background", "purple_background", "pink_background", "red_background"],
                "default": "default"
              }
            },
            "required": [
              "rich_text"
            ]
          },
          "type": {
            "enum": [
              "paragraph"
            ],
            "type": "string"
          }
        }
      },
      "heading1BlockRequest": {
        "type": "object",
        "properties": {
          "heading_1": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100
              },
              "color": {
                "type": "string",
                "enum": ["default", "gray", "brown", "orange", "yellow", "green", "blue", "purple", "pink", "red", "gray_background", "brown_background", "orange_background", "yellow_background", "green_background", "blue_background", "purple_background", "pink_background", "red_background"],
                "default": "default"
              },
              "is_toggleable": {
                "type": "boolean",
                "default": false,
                "description": "Whether the heading can be toggled to show/hide its children"
              }
            },
            "required": [
              "rich_text"
            ]
          },
          "type": {
            "enum": [
              "heading_1"
            ],
            "type": "string"
          }
        }
      },
      "heading2BlockRequest": {
        "type": "object",
        "properties": {
          "heading_2": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100
              },
              "color": {
                "type": "string",
                "enum": ["default", "gray", "brown", "orange", "yellow", "green", "blue", "purple", "pink", "red", "gray_background", "brown_background", "orange_background", "yellow_background", "green_background", "blue_background", "purple_background", "pink_background", "red_background"],
                "default": "default"
              },
              "is_toggleable": {
                "type": "boolean",
                "default": false,
                "description": "Whether the heading can be toggled to show/hide its children"
              }
            },
            "required": [
              "rich_text"
            ]
          },
          "type": {
            "enum": [
              "heading_2"
            ],
            "type": "string"
          }
        }
      },
      "heading3BlockRequest": {
        "type": "object",
        "properties": {
          "heading_3": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100
              },
              "color": {
                "type": "string",
                "enum": ["default", "gray", "brown", "orange", "yellow", "green", "blue", "purple", "pink", "red", "gray_background", "brown_background", "orange_background", "yellow_background", "green_background", "blue_background", "purple_background", "pink_background", "red_background"],
                "default": "default"
              },
              "is_toggleable": {
                "type": "boolean",
                "default": false,
                "description": "Whether the heading can be toggled to show/hide its children"
              }
            },
            "required": [
              "rich_text"
            ]
          },
          "type": {
            "enum": [
              "heading_3"
            ],
            "type": "string"
          }
        }
      },
      "bulletedListItemBlockRequest": {
        "type": "object",
        "properties": {
          "bulleted_list_item": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100
              },
              "color": {
                "type": "string",
                "enum": ["default", "gray", "brown", "orange", "yellow", "green", "blue", "purple", "pink", "red", "gray_background", "brown_background", "orange_background", "yellow_background", "green_background", "blue_background", "purple_background", "pink_background", "red_background"],
                "default": "default"
              }
            },
            "required": [
              "rich_text"
            ]
          },
          "type": {
            "enum": [
              "bulleted_list_item"
            ],
            "type": "string"
          }
        }
      },
      "numberedListItemBlockRequest": {
        "type": "object",
        "properties": {
          "numbered_list_item": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100
              },
              "color": {
                "type": "string",
                "enum": ["default", "gray", "brown", "orange", "yellow", "green", "blue", "purple", "pink", "red", "gray_background", "brown_background", "orange_background", "yellow_background", "green_background", "blue_background", "purple_background", "pink_background", "red_background"],
                "default": "default"
              }
            },
            "required": [
              "rich_text"
            ]
          },
          "type": {
            "enum": [
              "numbered_list_item"
            ],
            "type": "string"
          }
        }
      },
      "toDoBlockRequest": {
        "type": "object",
        "properties": {
          "to_do": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100
              },
              "checked": {
                "type": "boolean",
                "default": false,
                "description": "Whether the to-do item is checked"
              },
              "color": {
                "type": "string",
                "enum": ["default", "gray", "brown", "orange", "yellow", "green", "blue", "purple", "pink", "red", "gray_background", "brown_background", "orange_background", "yellow_background", "green_background", "blue_background", "purple_background", "pink_background", "red_background"],
                "default": "default"
              }
            },
            "required": [
              "rich_text"
            ]
          },
          "type": {
            "enum": [
              "to_do"
            ],
            "type": "string"
          }
        }
      },
      "toggleBlockRequest": {
        "type": "object",
        "properties": {
          "toggle": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100
              },
              "color": {
                "type": "string",
                "enum": ["default", "gray", "brown", "orange", "yellow", "green", "blue", "purple", "pink", "red", "gray_background", "brown_background", "orange_background", "yellow_background", "green_background", "blue_background", "purple_background", "pink_background", "red_background"],
                "default": "default"
              }
            },
            "required": [
              "rich_text"
            ]
          },
          "type": {
            "enum": [
              "toggle"
            ],
            "type": "string"
          }
        }
      },
      "codeBlockRequest": {
        "type": "object",
        "properties": {
          "code": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100,
                "description": "The code content"
              },
              "caption": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100,
                "description": "Caption for the code block"
              },
              "language": {
                "type": "string",
                "enum": ["abap", "arduino", "bash", "basic", "c", "clojure", "coffeescript", "cpp", "csharp", "css", "dart", "diff", "docker", "elixir", "elm", "erlang", "flow", "fortran", "fsharp", "gherkin", "glsl", "go", "graphql", "groovy", "haskell", "html", "java", "javascript", "json", "julia", "kotlin", "latex", "less", "lisp", "livescript", "lua", "makefile", "markdown", "markup", "matlab", "mermaid", "nix", "objective-c", "ocaml", "pascal", "perl", "php", "plain text", "powershell", "prolog", "protobuf", "python", "r", "reason", "ruby", "rust", "sass", "scala", "scheme", "scss", "shell", "sql", "swift", "typescript", "vb.net", "verilog", "vhdl", "visual basic", "webassembly", "xml", "yaml", "java/c/c++/c#"],
                "default": "plain text",
                "description": "Programming language for syntax highlighting"
              }
            },
            "required": [
              "rich_text",
              "language"
            ]
          },
          "type": {
            "enum": [
              "code"
            ],
            "type": "string"
          }
        }
      },
      "quoteBlockRequest": {
        "type": "object",
        "properties": {
          "quote": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100
              },
              "color": {
                "type": "string",
                "enum": ["default", "gray", "brown", "orange", "yellow", "green", "blue", "purple", "pink", "red", "gray_background", "brown_background", "orange_background", "yellow_background", "green_background", "blue_background", "purple_background", "pink_background", "red_background"],
                "default": "default"
              }
            },
            "required": [
              "rich_text"
            ]
          },
          "type": {
            "enum": [
              "quote"
            ],
            "type": "string"
          }
        }
      },
      "calloutBlockRequest": {
        "type": "object",
        "properties": {
          "callout": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100
              },
              "icon": {
                "type": "object",
                "properties": {
                  "emoji": {
                    "type": "string",
                    "description": "Emoji character for the callout icon"
                  }
                }
              },
              "color": {
                "type": "string",
                "enum": ["default", "gray", "brown", "orange", "yellow", "green", "blue", "purple", "pink", "red", "gray_background", "brown_background", "orange_background", "yellow_background", "green_background", "blue_background", "purple_background", "pink_background", "red_background"],
                "default": "default"
              }
            },
            "required": [
              "rich_text"
            ]
          },
          "type": {
            "enum": [
              "callout"
            ],
            "type": "string"
          }
        }
      },
      "dividerBlockRequest": {
        "type": "object",
        "properties": {
          "divider": {
            "type": "object",
            "properties": {}
          },
          "type": {
            "enum": [
              "divider"
            ],
            "type": "string"
          }
        }
      },
      "blockObjectRequest": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/paragraphBlockRequest"
          },
          {
            "$ref": "#/components/schemas/heading1BlockRequest"
          },
          {
            "$ref": "#/components/schemas/heading2BlockRequest"
          },
          {
            "$ref": "#/components/schemas/heading3BlockRequest"
          },
          {
            "$ref": "#/components/schemas/bulletedListItemBlockRequest"
          },
          {
            "$ref": "#/components/schemas/numberedListItemBlockRequest"
          },
          {
            "$ref": "#/components/schemas/toDoBlockRequest"
          },
          {
            "$ref": "#/components/schemas/toggleBlockRequest"
          },
          {
            "$ref": "#/components/schemas/codeBlockRequest"
          },
          {
            "$ref": "#/components/schemas/quoteBlockRequest"
          },
          {
            "$ref": "#/components/schemas/calloutBlockRequest"
          },
          {
            "$ref": "#/components/schemas/dividerBlockRequest"
          }
        ]
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Data sources",
      "description": "Data source endpoints for querying and managing databases"
    },
    {
      "name": "Pages",
      "description": "Page endpoints for creating and managing pages"
    },
    {
      "name": "Blocks",
      "description": "Block endpoints for managing page content"
    },
    {
      "name": "Users",
      "description": "User endpoints"
    },
    {
      "name": "Search",
      "description": "Search endpoints"
    },
    {
      "name": "Comments",
      "description": "Comment endpoints"
    }
  ],
  "paths": {
    "/v1/users/{user_id}": {
      "get": {
        "summary": "Retrieve a user",
        "description": "",
        "operationId": "get-user",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {}
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {}
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/users": {
      "get": {
        "summary": "List all users",
        "operationId": "get-users",
        "parameters": [
          {
            "name": "start_cursor",
            "in": "query",
            "description": "If supplied, this endpoint will return a page of results starting after the cursor provided. If not supplied, this endpoint will return the first page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items from the full list desired in the response. Maximum: 100",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {}
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/users/me": {
      "get": {
        "summary": "Retrieve your token's bot user",
        "description": "",
        "operationId": "get-self",
        "parameters": [
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "object": "user",
                      "id": "16d84278-ab0e-484c-9bdd-b35da3bd8905",
                      "name": "pied piper",
                      "avatar_url": null,
                      "type": "bot",
                      "bot": {
                        "owner": {
                          "type": "user",
                          "user": {
                            "object": "user",
                            "id": "5389a034-eb5c-47b5-8a9e-f79c99ef166c",
                            "name": "christine makenotion",
                            "avatar_url": null,
                            "type": "person",
                            "person": {
                              "email": "christine@makenotion.com"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "user"
                    },
                    "id": {
                      "type": "string",
                      "example": "16d84278-ab0e-484c-9bdd-b35da3bd8905"
                    },
                    "name": {
                      "type": "string",
                      "example": "pied piper"
                    },
                    "avatar_url": {},
                    "type": {
                      "type": "string",
                      "example": "bot"
                    },
                    "bot": {
                      "type": "object",
                      "properties": {
                        "owner": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "example": "user"
                            },
                            "user": {
                              "type": "object",
                              "properties": {
                                "object": {
                                  "type": "string",
                                  "example": "user"
                                },
                                "id": {
                                  "type": "string",
                                  "example": "5389a034-eb5c-47b5-8a9e-f79c99ef166c"
                                },
                                "name": {
                                  "type": "string",
                                  "example": "christine makenotion"
                                },
                                "avatar_url": {},
                                "type": {
                                  "type": "string",
                                  "example": "person"
                                },
                                "person": {
                                  "type": "object",
                                  "properties": {
                                    "email": {
                                      "type": "string",
                                      "example": "christine@makenotion.com"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/search": {
      "post": {
        "summary": "Search by title",
        "description": "",
        "operationId": "post-search",
        "parameters": [
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "The text that the API compares page and database titles against."
                  },
                  "sort": {
                    "type": "object",
                    "description": "A set of criteria, `direction` and `timestamp` keys, that orders the results. The **only** supported timestamp value is `\"last_edited_time\"`. Supported `direction` values are `\"ascending\"` and `\"descending\"`. If `sort` is not provided, then the most recently edited results are returned first.",
                    "properties": {
                      "direction": {
                        "type": "string",
                        "description": "The direction to sort. Possible values include `ascending` and `descending`."
                      },
                      "timestamp": {
                        "type": "string",
                        "description": "The name of the timestamp to sort against. Possible values include `last_edited_time`."
                      }
                    }
                  },
                  "filter": {
                    "type": "object",
                    "description": "A set of criteria, `value` and `property` keys, that limits the results to either only pages or only data sources. Possible `value` values are `\"page\"` or `\"data_source\"`. The only supported `property` value is `\"object\"`.",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "The value of the property to filter the results by.  Possible values for object type include `page` or `data_source`.  **Limitation**: Currently the only filter allowed is `object` which will filter by type of object (either `page` or `data_source`)",
                        "enum": [
                          "page",
                          "data_source"
                        ]
                      },
                      "property": {
                        "type": "string",
                        "description": "The name of the property to filter by. Currently the only property you can filter by is the object type.  Possible values include `object`.   Limitation: Currently the only filter allowed is `object` which will filter by type of object (either `page` or `data_source`)"
                      }
                    }
                  },
                  "start_cursor": {
                    "type": "string",
                    "description": "A `cursor` value returned in a previous response that If supplied, limits the response to results starting after the `cursor`. If not supplied, then the first page of results is returned. Refer to [pagination](https://developers.notion.com/reference/intro#pagination) for more details."
                  },
                  "page_size": {
                    "type": "integer",
                    "description": "The number of items from the full list to include in the response. Maximum: `100`.",
                    "default": 100,
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/blocks/{block_id}/children": {
      "get": {
        "summary": "Retrieve block children",
        "description": "",
        "operationId": "get-block-children",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "description": "Identifier for a [block](ref:block)",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "start_cursor",
            "in": "query",
            "description": "If supplied, this endpoint will return a page of results starting after the cursor provided. If not supplied, this endpoint will return the first page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items from the full list desired in the response. Maximum: 100",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "patch": {
        "summary": "Append block children",
        "description": "",
        "operationId": "patch-block-children",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "description": "Identifier for a [block](ref:block). Also accepts a [page](ref:page) ID.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "children"
                ],
                "properties": {
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectRequest"
                    },
                    "description": "Child content to append to a container block as an array of [block objects](ref:block)"
                  },
                  "after": {
                    "type": "string",
                    "description": "The ID of the existing block that the new block should be appended after."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/blocks/{block_id}": {
      "get": {
        "summary": "Retrieve a block",
        "description": "",
        "operationId": "retrieve-a-block",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "description": "Identifier for a Notion block",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "patch": {
        "summary": "Update a block",
        "description": "",
        "operationId": "update-a-block",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "description": "Identifier for a Notion block",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Update a block by specifying the block type and its properties. Supported types: paragraph, heading_1, heading_2, heading_3, bulleted_list_item, numbered_list_item, to_do, toggle, code, quote, callout.",
                "properties": {
                  "paragraph": {
                    "type": "object",
                    "description": "Update paragraph block content",
                    "properties": {
                      "rich_text": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/richTextRequest"
                        },
                        "maxItems": 100
                      },
                      "color": {
                        "type": "string",
                        "enum": ["default", "gray", "brown", "orange", "yellow", "green", "blue", "purple", "pink", "red", "gray_background", "brown_background", "orange_background", "yellow_background", "green_background", "blue_background", "purple_background", "pink_background", "red_background"]
                      }
                    }
                  },
                  "heading_1": {
                    "type": "object",
                    "description": "Update heading_1 block content",
                    "properties": {
                      "rich_text": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/richTextRequest"
                        },
                        "maxItems": 100
                      },
                      "color": {
                        "type": "string",
                        "enum": ["default", "gray", "brown", "orange", "yellow", "green", "blue", "purple", "pink", "red", "gray_background", "brown_background", "orange_background", "yellow_background", "green_background", "blue_background", "purple_background", "pink_background", "red_background"]
                      },
                      "is_toggleable": {
                        "type": "boolean"
                      }
                    }
                  },
                  "heading_2": {
                    "type": "object",
                    "description": "Update heading_2 block content",
                    "properties": {
                      "rich_text": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/richTextRequest"
                        },
                        "maxItems": 100
                      },
                      "color": {
                        "type": "string",
                        "enum": ["default", "gray", "brown", "orange", "yellow", "green", "blue", "purple", "pink", "red", "gray_background", "brown_background", "orange_background", "yellow_background", "green_background", "blue_background", "purple_background", "pink_background", "red_background"]
                      },
                      "is_toggleable": {
                        "type": "boolean"
                      }
                    }
                  },
                  "heading_3": {
                    "type": "object",
                    "description": "Update heading_3 block content",
                    "properties": {
                      "rich_text": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/richTextRequest"
                        },
                        "maxItems": 100
                      },
                      "color": {
                        "type": "string",
                        "enum": ["default", "gray", "brown", "orange", "yellow", "green", "blue", "purple", "pink", "red", "gray_background", "brown_background", "orange_background", "yellow_background", "green_background", "blue_background", "purple_background", "pink_background", "red_background"]
                      },
                      "is_toggleable": {
                        "type": "boolean"
                      }
                    }
                  },
                  "bulleted_list_item": {
                    "type": "object",
                    "description": "Update bulleted_list_item block content",
                    "properties": {
                      "rich_text": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/richTextRequest"
                        },
                        "maxItems": 100
                      },
                      "color": {
                        "type": "string",
                        "enum": ["default", "gray", "brown", "orange", "yellow", "green", "blue", "purple", "pink", "red", "gray_background", "brown_background", "orange_background", "yellow_background", "green_background", "blue_background", "purple_background", "pink_background", "red_background"]
                      }
                    }
                  },
                  "numbered_list_item": {
                    "type": "object",
                    "description": "Update numbered_list_item block content",
                    "properties": {
                      "rich_text": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/richTextRequest"
                        },
                        "maxItems": 100
                      },
                      "color": {
                        "type": "string",
                        "enum": ["default", "gray", "brown", "orange", "yellow", "green", "blue", "purple", "pink", "red", "gray_background", "brown_background", "orange_background", "yellow_background", "green_background", "blue_background", "purple_background", "pink_background", "red_background"]
                      }
                    }
                  },
                  "to_do": {
                    "type": "object",
                    "description": "Update to_do block content",
                    "properties": {
                      "rich_text": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/richTextRequest"
                        },
                        "maxItems": 100
                      },
                      "checked": {
                        "type": "boolean",
                        "description": "Whether the to-do item is checked"
                      },
                      "color": {
                        "type": "string",
                        "enum": ["default", "gray", "brown", "orange", "yellow", "green", "blue", "purple", "pink", "red", "gray_background", "brown_background", "orange_background", "yellow_background", "green_background", "blue_background", "purple_background", "pink_background", "red_background"]
                      }
                    }
                  },
                  "toggle": {
                    "type": "object",
                    "description": "Update toggle block content",
                    "properties": {
                      "rich_text": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/richTextRequest"
                        },
                        "maxItems": 100
                      },
                      "color": {
                        "type": "string",
                        "enum": ["default", "gray", "brown", "orange", "yellow", "green", "blue", "purple", "pink", "red", "gray_background", "brown_background", "orange_background", "yellow_background", "green_background", "blue_background", "purple_background", "pink_background", "red_background"]
                      }
                    }
                  },
                  "code": {
                    "type": "object",
                    "description": "Update code block content",
                    "properties": {
                      "rich_text": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/richTextRequest"
                        },
                        "maxItems": 100
                      },
                      "caption": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/richTextRequest"
                        },
                        "maxItems": 100
                      },
                      "language": {
                        "type": "string",
                        "enum": ["abap", "arduino", "bash", "basic", "c", "clojure", "coffeescript", "cpp", "csharp", "css", "dart", "diff", "docker", "elixir", "elm", "erlang", "flow", "fortran", "fsharp", "gherkin", "glsl", "go", "graphql", "groovy", "haskell", "html", "java", "javascript", "json", "julia", "kotlin", "latex", "less", "lisp", "livescript", "lua", "makefile", "markdown", "markup", "matlab", "mermaid", "nix", "objective-c", "ocaml", "pascal", "perl", "php", "plain text", "powershell", "prolog", "protobuf", "python", "r", "reason", "ruby", "rust", "sass", "scala", "scheme", "scss", "shell", "sql", "swift", "typescript", "vb.net", "verilog", "vhdl", "visual basic", "webassembly", "xml", "yaml", "java/c/c++/c#"]
                      }
                    }
                  },
                  "quote": {
                    "type": "object",
                    "description": "Update quote block content",
                    "properties": {
                      "rich_text": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/richTextRequest"
                        },
                        "maxItems": 100
                      },
                      "color": {
                        "type": "string",
                        "enum": ["default", "gray", "brown", "orange", "yellow", "green", "blue", "purple", "pink", "red", "gray_background", "brown_background", "orange_background", "yellow_background", "green_background", "blue_background", "purple_background", "pink_background", "red_background"]
                      }
                    }
                  },
                  "callout": {
                    "type": "object",
                    "description": "Update callout block content",
                    "properties": {
                      "rich_text": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/richTextRequest"
                        },
                        "maxItems": 100
                      },
                      "icon": {
                        "type": "object",
                        "properties": {
                          "emoji": {
                            "type": "string"
                          }
                        }
                      },
                      "color": {
                        "type": "string",
                        "enum": ["default", "gray", "brown", "orange", "yellow", "green", "blue", "purple", "pink", "red", "gray_background", "brown_background", "orange_background", "yellow_background", "green_background", "blue_background", "purple_background", "pink_background", "red_background"]
                      }
                    }
                  },
                  "archived": {
                    "type": "boolean",
                    "description": "Set to true to archive (delete) a block. Set to false to un-archive (restore) a block."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "delete": {
        "summary": "Delete a block",
        "description": "",
        "operationId": "delete-a-block",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "description": "Identifier for a Notion block",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/pages/{page_id}": {
      "get": {
        "summary": "Retrieve a page",
        "description": "",
        "operationId": "retrieve-a-page",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "description": "Identifier for a Notion page",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "filter_properties",
            "in": "query",
            "description": "A list of page property value IDs associated with the page. Use this param to limit the response to a specific page property value or values. To retrieve multiple properties, specify each page property ID. For example: `?filter_properties=iAk8&filter_properties=b7dh`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "patch": {
        "summary": "Update page properties",
        "description": "",
        "operationId": "patch-page",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "description": "The identifier for the Notion page to be updated.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "properties": {
                    "description": "The property values to update for the page. The keys are the names or IDs of the property and the values are property values. If a page property ID is not included, then it is not changed. Common property types: title, rich_text, number, select, multi_select, status, date, people, checkbox, url, email, phone_number, relation, files.",
                    "type": "object",
                    "additionalProperties": {
                      "oneOf": [
                        { "$ref": "#/components/schemas/titlePropertyValue" },
                        { "$ref": "#/components/schemas/richTextPropertyValue" },
                        { "$ref": "#/components/schemas/numberPropertyValue" },
                        { "$ref": "#/components/schemas/selectPropertyValue" },
                        { "$ref": "#/components/schemas/multiSelectPropertyValue" },
                        { "$ref": "#/components/schemas/statusPropertyValue" },
                        { "$ref": "#/components/schemas/datePropertyValue" },
                        { "$ref": "#/components/schemas/peoplePropertyValue" },
                        { "$ref": "#/components/schemas/checkboxPropertyValue" },
                        { "$ref": "#/components/schemas/urlPropertyValue" },
                        { "$ref": "#/components/schemas/emailPropertyValue" },
                        { "$ref": "#/components/schemas/phonePropertyValue" },
                        { "$ref": "#/components/schemas/relationPropertyValue" },
                        { "$ref": "#/components/schemas/filesPropertyValue" }
                      ]
                    },
                    "example": {
                      "Name": {
                        "title": [{ "text": { "content": "Updated Title" }, "annotations": { "bold": true } }]
                      },
                      "Status": {
                        "status": { "name": "In Progress" }
                      },
                      "Due Date": {
                        "date": { "start": "2025-02-01", "end": "2025-02-15" }
                      }
                    }
                  },
                  "in_trash": {
                    "type": "boolean",
                    "description": "Set to true to delete a block. Set to false to restore a block.",
                    "default": false
                  },
                  "archived": {
                    "type": "boolean"
                  },
                  "icon": {
                    "description": "A page icon for the page. Supported types are [external file object](https://developers.notion.com/reference/file-object) or [emoji object](https://developers.notion.com/reference/emoji-object).",
                    "type": "object",
                    "properties": {
                      "emoji": {
                        "type": "string"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "emoji"
                    ]
                  },
                  "cover": {
                    "type": "object",
                    "description": "A cover image for the page. Only [external file objects](https://developers.notion.com/reference/file-object) are supported.",
                    "properties": {
                      "external": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false,
                        "required": [
                          "url"
                        ]
                      },
                      "type": {
                        "enum": [
                          "external"
                        ],
                        "type": "string"
                      }
                    },
                    "required": [
                      "external"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/pages": {
      "post": {
        "summary": "Create a page",
        "description": "",
        "operationId": "post-page",
        "parameters": [
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "parent",
                  "properties"
                ],
                "properties": {
                  "parent": {
                    "$ref": "#/components/schemas/parentRequest"
                  },
                  "properties": {
                    "type": "object",
                    "description": "Property values for the page. Keys are property names or IDs. For database pages, use property values matching the database schema. Common property types: title (required for all pages), rich_text, number, select, multi_select, status, date, people, checkbox, url, email, phone_number, relation, files.",
                    "additionalProperties": {
                      "oneOf": [
                        { "$ref": "#/components/schemas/titlePropertyValue" },
                        { "$ref": "#/components/schemas/richTextPropertyValue" },
                        { "$ref": "#/components/schemas/numberPropertyValue" },
                        { "$ref": "#/components/schemas/selectPropertyValue" },
                        { "$ref": "#/components/schemas/multiSelectPropertyValue" },
                        { "$ref": "#/components/schemas/statusPropertyValue" },
                        { "$ref": "#/components/schemas/datePropertyValue" },
                        { "$ref": "#/components/schemas/peoplePropertyValue" },
                        { "$ref": "#/components/schemas/checkboxPropertyValue" },
                        { "$ref": "#/components/schemas/urlPropertyValue" },
                        { "$ref": "#/components/schemas/emailPropertyValue" },
                        { "$ref": "#/components/schemas/phonePropertyValue" },
                        { "$ref": "#/components/schemas/relationPropertyValue" },
                        { "$ref": "#/components/schemas/filesPropertyValue" }
                      ]
                    },
                    "example": {
                      "Name": {
                        "title": [{ "text": { "content": "My Page Title" } }]
                      },
                      "Description": {
                        "rich_text": [{ "text": { "content": "Some description" }, "annotations": { "bold": true } }]
                      },
                      "Priority": {
                        "select": { "name": "High" }
                      },
                      "Tags": {
                        "multi_select": [{ "name": "Frontend" }, { "name": "Urgent" }]
                      },
                      "Due Date": {
                        "date": { "start": "2025-01-15" }
                      },
                      "Count": {
                        "number": 42
                      },
                      "Done": {
                        "checkbox": true
                      },
                      "Website": {
                        "url": "https://example.com"
                      }
                    }
                  },
                  "children": {
                    "type": "array",
                    "description": "The content to be rendered on the new page, represented as an array of [block objects](https://developers.notion.com/reference/block).",
                    "items": {
                      "type": "string"
                    }
                  },
                  "icon": {
                    "type": "string",
                    "description": "The icon of the new page. Either an [emoji object](https://developers.notion.com/reference/emoji-object) or an [external file object](https://developers.notion.com/reference/file-object)..",
                    "format": "json"
                  },
                  "cover": {
                    "type": "string",
                    "description": "The cover image of the new page, represented as a [file object](https://developers.notion.com/reference/file-object).",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/pages/{page_id}/properties/{property_id}": {
      "get": {
        "summary": "Retrieve a page property item",
        "description": "",
        "operationId": "retrieve-a-page-property",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "description": "Identifier for a Notion page",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "property_id",
            "in": "path",
            "description": "Identifier for a page [property](https://developers.notion.com/reference/page#all-property-values)",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "For paginated properties. The max number of property item objects on a page. The default size is 100",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "start_cursor",
            "in": "query",
            "description": "For paginated properties.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {}
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/comments": {
      "get": {
        "summary": "Retrieve comments",
        "description": "Retrieves a list of un-resolved [Comment objects](ref:comment-object) from a page or block.",
        "operationId": "retrieve-a-comment",
        "parameters": [
          {
            "name": "block_id",
            "in": "query",
            "description": "Identifier for a Notion block or page",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_cursor",
            "in": "query",
            "description": "If supplied, this endpoint will return a page of results starting after the cursor provided. If not supplied, this endpoint will return the first page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items from the full list desired in the response. Maximum: 100",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": {
                      "object": "list",
                      "results": [
                        {
                          "object": "comment",
                          "id": "94cc56ab-9f02-409d-9f99-1037e9fe502f",
                          "parent": {
                            "type": "page_id",
                            "page_id": "5c6a2821-6bb1-4a7e-b6e1-c50111515c3d"
                          },
                          "discussion_id": "f1407351-36f5-4c49-a13c-49f8ba11776d",
                          "created_time": "2022-07-15T16:52:00.000Z",
                          "last_edited_time": "2022-07-15T19:16:00.000Z",
                          "created_by": {
                            "object": "user",
                            "id": "9b15170a-9941-4297-8ee6-83fa7649a87a"
                          },
                          "rich_text": [
                            {
                              "type": "text",
                              "text": {
                                "content": "Single comment",
                                "link": null
                              },
                              "annotations": {
                                "bold": false,
                                "italic": false,
                                "strikethrough": false,
                                "underline": false,
                                "code": false,
                                "color": "default"
                              },
                              "plain_text": "Single comment",
                              "href": null
                            }
                          ]
                        }
                      ],
                      "next_cursor": null,
                      "has_more": false,
                      "type": "comment",
                      "comment": {}
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "post": {
        "summary": "Create comment",
        "description": "Creates a comment in a page or existing discussion thread.",
        "operationId": "create-a-comment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "parent",
                  "rich_text"
                ],
                "properties": {
                  "parent": {
                    "type": "object",
                    "description": "The page that contains the comment",
                    "required": [
                      "page_id"
                    ],
                    "properties": {
                      "page_id": {
                        "type": "string",
                        "description": "the page ID"
                      }
                    }
                  },
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "text"
                      ],
                      "properties": {
                        "text": {
                          "type": "object",
                          "required": [
                            "content"
                          ],
                          "properties": {
                            "content": {
                              "type": "string",
                              "description": "The content of the comment"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "object": "comment",
                      "id": "b52b8ed6-e029-4707-a671-832549c09de3",
                      "parent": {
                        "type": "page_id",
                        "page_id": "5c6a2821-6bb1-4a7e-b6e1-c50111515c3d"
                      },
                      "discussion_id": "f1407351-36f5-4c49-a13c-49f8ba11776d",
                      "created_time": "2022-07-15T20:53:00.000Z",
                      "last_edited_time": "2022-07-15T20:53:00.000Z",
                      "created_by": {
                        "object": "user",
                        "id": "067dee40-6ebd-496f-b446-093c715fb5ec"
                      },
                      "rich_text": [
                        {
                          "type": "text",
                          "text": {
                            "content": "Hello world",
                            "link": null
                          },
                          "annotations": {
                            "bold": false,
                            "italic": false,
                            "strikethrough": false,
                            "underline": false,
                            "code": false,
                            "color": "default"
                          },
                          "plain_text": "Hello world",
                          "href": null
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/data_sources/{data_source_id}/query": {
      "post": {
        "summary": "Query a data source",
        "description": "Query a data source (database) using filters and sorts",
        "operationId": "query-data-source",
        "tags": [
          "Data sources"
        ],
        "parameters": [
          {
            "name": "data_source_id",
            "in": "path",
            "description": "Identifier for a Notion data source (database)",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "filter_properties",
            "in": "query",
            "description": "A list of page property value IDs to limit the response",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filter": {
                    "type": "object",
                    "description": "Filter conditions for querying the data source"
                  },
                  "sorts": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/sortObject"
                    }
                  },
                  "start_cursor": {
                    "type": "string"
                  },
                  "page_size": {
                    "type": "integer",
                    "default": 100
                  },
                  "archived": {
                    "type": "boolean"
                  },
                  "in_trash": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/data_sources/{data_source_id}": {
      "get": {
        "summary": "Retrieve a data source",
        "description": "Retrieve metadata and schema for a data source",
        "operationId": "retrieve-a-data-source",
        "tags": [
          "Data sources"
        ],
        "parameters": [
          {
            "name": "data_source_id",
            "in": "path",
            "description": "Identifier for a Notion data source",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "patch": {
        "summary": "Update a data source",
        "description": "Update properties of a data source",
        "operationId": "update-a-data-source",
        "tags": [
          "Data sources"
        ],
        "parameters": [
          {
            "name": "data_source_id",
            "in": "path",
            "description": "Identifier for a Notion data source",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextRequest"
                    }
                  },
                  "description": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextRequest"
                    },
                    "maxItems": 100
                  },
                  "properties": {
                    "type": "object",
                    "description": "Property schema updates"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/data_sources": {
      "post": {
        "summary": "Create a data source",
        "description": "Create a new data source (database)",
        "operationId": "create-a-data-source",
        "tags": [
          "Data sources"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "parent",
                  "properties"
                ],
                "properties": {
                  "parent": {
                    "$ref": "#/components/schemas/pageIdParentRequest"
                  },
                  "properties": {
                    "type": "object",
                    "description": "Property schema of data source"
                  },
                  "title": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextRequest"
                    },
                    "maxItems": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/data_sources/{data_source_id}/templates": {
      "get": {
        "summary": "List templates in a data source",
        "description": "List available templates for a data source",
        "operationId": "list-data-source-templates",
        "tags": [
          "Data sources"
        ],
        "parameters": [
          {
            "name": "data_source_id",
            "in": "path",
            "description": "Identifier for a Notion data source",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "start_cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
[...]
